# US Name

Transform china city reduction mandate and others data by merging china city reduction mandate and others data by constructing city-industry FE and others (add city-level) to fin dep pollution baseline city 

# Business needs 

Transform china city reduction mandate and others data by merging china city reduction mandate, china tcz spz, china city code normalised, ind cic 2 name, china credit constraint, asif industry financial ratio city data by constructing city-industry FE, industry-year FE, city-year FE, period (Add city-industry financial ratio level) to fin dep pollution baseline city 

## Description
### Objective 

Use existing tables china city reduction mandate, china tcz spz, china city code normalised, ind cic 2 name, china credit constraint, asif industry financial ratio city, asif firms prepared to constructing a bunch of variables listed below

# Construction variables 

* city-industry FE
* industry-year FE
* city-year FE
* period

### Steps 




**Cautious**
Make sure there is no duplicates

# Target

* The file is saved in S3:
  * bucket: datalake-datascience
  * path: DATA/ENVIRONMENT/CHINA/FYP/FINANCIAL_CONTRAINT/PAPER_FYP_FINANCE_POL/BASELINE/CITY
* Glue data catalog should be updated
  * database:environment
  * Table prefix:fin_dep_pollution_baseline_
  * table name:fin_dep_pollution_baseline_city
* Analytics
  * HTML: ANALYTICS/HTML_OUTPUT/fin_dep_pollution_baseline_city
  * Notebook: ANALYTICS/OUTPUT/fin_dep_pollution_baseline_city

# Metadata
* Key: rkb30odtj11654r
* Parent key (for update parent):  
* Epic: Dataset transformation
* US: Baseline
* Task tag: #baseline-table,#city-level
* Notebook US Parent (i.e the one to update): 
https://github.com/thomaspernet/Financial_dependency_pollution/blob/master/01_data_preprocessing/02_transform_tables/04_fin_dep_pol_baseline_city.md
* Reports: https://htmlpreview.github.io/?https://github.com/thomaspernet/Financial_dependency_pollution/blob/master/01_data_preprocessing/02_transform_tables/Reports/04_fin_dep_pol_baseline_city.html
* Analytics reports:
https://htmlpreview.github.io/?https://github.com/thomaspernet/Financial_dependency_pollution/blob/master/00_data_catalogue/HTML_ANALYSIS/FIN_DEP_POLLUTION_BASELINE_CITY.html

# Input Cloud Storage [AWS/GCP]

## Table/file
* Name: 
* china_city_reduction_mandate
* china_tcz_spz
* china_city_code_normalised
* ind_cic_2_name
* china_credit_constraint
* asif_industry_financial_ratio_city
* asif_firms_prepared
* asif_industry_characteristics_ownership 
* asif_city_characteristics_ownership
* Github: 
  * https://github.com/thomaspernet/Financial_dependency_pollution/blob/master/01_data_preprocessing/00_download_data_from/CITY_REDUCTION_MANDATE/city_reduction_mandate.py
  * https://github.com/thomaspernet/Financial_dependency_pollution/blob/master/01_data_preprocessing/00_download_data_from/TCZ_SPZ/tcz_spz_policy.py
  * https://github.com/thomaspernet/Financial_dependency_pollution/blob/master/01_data_preprocessing/00_download_data_from/CITY_CODE_CORRESPONDANCE/city_code_correspondance.py
  * https://github.com/thomaspernet/Financial_dependency_pollution/blob/master/01_data_preprocessing/00_download_data_from/CIC_NAME/cic_industry_name.py
  * https://github.com/thomaspernet/Financial_dependency_pollution/blob/master/01_data_preprocessing/00_download_data_from/CIC_CREDIT_CONSTRAINT/financial_dependency.py
  * https://github.com/thomaspernet/Financial_dependency_pollution/blob/master/01_data_preprocessing/02_transform_tables/03_asif_financial_ratio_city.md
  * https://github.com/thomaspernet/Financial_dependency_pollution/blob/master/01_data_preprocessing/01_prepare_tables/00_prepare_asif.md
  * https://github.com/thomaspernet/Financial_dependency_pollution/blob/master/01_data_preprocessing/02_transform_tables/07_dominated_city_ownership.md
  * https://github.com/thomaspernet/Financial_dependency_pollution/blob/master/01_data_preprocessing/02_transform_tables/08_dominated_industry_ownership.md

# Destination Output/Delivery
## Table/file
* Name:
* fin_dep_pollution_baseline_city
* GitHub:
* https://github.com/thomaspernet/Financial_dependency_pollution/blob/master/01_data_preprocessing/02_transform_tables/04_fin_dep_pol_baseline_city.md

In [1]:
from awsPy.aws_authorization import aws_connector
from awsPy.aws_s3 import service_s3
from awsPy.aws_glue import service_glue
from pathlib import Path
import pandas as pd
import numpy as np
import seaborn as sns
import os, shutil, json

path = os.getcwd()
parent_path = str(Path(path).parent.parent)


name_credential = 'financial_dep_SO2_accessKeys.csv'
region = 'eu-west-3'
bucket = 'datalake-datascience'
path_cred = "{0}/creds/{1}".format(parent_path, name_credential)

In [2]:
con = aws_connector.aws_instantiate(credential = path_cred,
                                       region = region)
client= con.client_boto()
s3 = service_s3.connect_S3(client = client,
                      bucket = bucket, verbose = True) 
glue = service_glue.connect_glue(client = client)

In [3]:
pandas_setting = True
if pandas_setting:
    cm = sns.light_palette("green", as_cmap=True)
    pd.set_option('display.max_columns', None)
    pd.set_option('display.max_colwidth', None)

# Prepare query 

Write query and save the CSV back in the S3 bucket `datalake-datascience`

# Steps

## Example step by step

In [4]:
DatabaseName = 'environment'
s3_output_example = 'SQL_OUTPUT_ATHENA'

In [5]:
query = """
WITH aggregate_pol AS (
  SELECT 
    year, 
    geocode4_corr, 
    cityen, 
    ind2, 
    SUM(tso2) as tso2, 
    lower_location, 
    larger_location, 
    coastal 
  FROM 
    (
      SELECT 
        year, 
        citycode, 
        geocode4_corr, 
        china_city_sector_pollution.cityen, 
        ind2, 
        tso2, 
        lower_location, 
        larger_location, 
        coastal 
      FROM 
        environment.china_city_sector_pollution 
        INNER JOIN (
          SELECT 
            extra_code, 
            geocode4_corr 
          FROM 
            chinese_lookup.china_city_code_normalised 
          GROUP BY 
            extra_code, 
            geocode4_corr
        ) as no_dup_citycode ON china_city_sector_pollution.citycode = no_dup_citycode.extra_code
    ) 
  GROUP BY 
    year, 
    geocode4_corr, 
    cityen, 
    ind2, 
    lower_location, 
    larger_location, 
    coastal
) 
SELECT 
  * 
FROM 
  (
    WITH merge_asif AS (
      SELECT 
        year, 
        aggregate_pol.geocode4_corr, 
        cityen, 
        ind2, 
        tso2, 
        tso2_mandate_c,
        in_10_000_tonnes
        lower_location, 
        larger_location, 
        coastal 
      FROM 
        aggregate_pol 
        INNER JOIN firms_survey.asif_industry_financial_ratio_city ON 
        aggregate_pol.ind2 = asif_industry_financial_ratio_city.indu_2 AND 
        aggregate_pol.geocode4_corr = asif_industry_financial_ratio_city.geocode4_corr 
        INNER JOIN (
        
        SELECT geocode4_corr, tso2_mandate_c, in_10_000_tonnes
        FROM policy.china_city_reduction_mandate
        INNER JOIN chinese_lookup.china_city_code_normalised 
        ON china_city_reduction_mandate.citycn = china_city_code_normalised.citycn
        WHERE extra_code = geocode4_corr
        ) as city_mandate
        ON aggregate_pol.geocode4_corr = city_mandate.geocode4_corr
        LEFT JOIN policy.china_city_tcz_spz
        ON aggregate_pol.geocode4_corr = china_city_tcz_spz.geocode4_corr
    ) 
    SELECT 
      CNT, 
      COUNT(CNT) AS dup 
    FROM 
      (
        SELECT 
          geocode4_corr, 
          year, 
          ind2, 
          COUNT(*) AS CNT 
        FROM 
          merge_asif 
        GROUP BY 
          geocode4_corr, 
          year, 
          ind2
      ) AS count_dup 
    GROUP BY 
      CNT
  )
"""
output = s3.run_query(
                    query=query,
                    database=DatabaseName,
                    s3_output=s3_output_example,
    filename = 'example_1'
                )
output

   CNT    dup
0    1  49332

### Example computation threshold mandate

In the example below, we detail how to compute the average and percentile of policy mandate and compute the comparison

In [6]:
query = """
SELECT 
  geocode4_corr, 
  tso2_mandate_c, 
  in_10_000_tonnes, 
  tso2_mandate_c_pct, 
  tso2_mandate_c_avg, 
  MAP(
    ARRAY[.5, 
    .75, 
    .90, 
    .95 ], 
    zip_with(
      transform(
        sequence(1, 4), 
        x -> tso2_mandate_c
      ), 
      tso2_mandate_c_pct, 
      (x, y) -> x < y
    )
  ) AS above_threshold_mandate, 
  CASE WHEN tso2_mandate_c > tso2_mandate_c_avg THEN 'ABOVE' ELSE 'BELOW' END AS above_average_mandate 
FROM 
  (
    (
      SELECT 
        'TEMP' as temp, 
        approx_percentile(
          tso2_mandate_c, ARRAY[.5,.75,.90, 
          .95]
        ) AS tso2_mandate_c_pct, 
        AVG(tso2_mandate_c) AS tso2_mandate_c_avg 
      FROM 
        policy.china_city_reduction_mandate
    ) as percentile 
    LEFT JOIN (
      SELECT 
        'TEMP' as temp, 
        citycn, 
        tso2_mandate_c, 
        in_10_000_tonnes 
      FROM 
        policy.china_city_reduction_mandate
    ) as mandate ON percentile.temp = mandate.temp
  ) as map_mandate
  INNER JOIN chinese_lookup.china_city_code_normalised ON map_mandate.citycn = china_city_code_normalised.citycn 
    WHERE 
      extra_code = geocode4_corr
"""
output = s3.run_query(
                    query=query,
                    database=DatabaseName,
                    s3_output=s3_output_example,
    filename = 'example_1'
                )
output

,geocode4_corr,tso2_mandate_c,in_10_000_tonnes,tso2_mandate_c_pct,tso2_mandate_c_avg,above_threshold_mandate,above_average_mandate
0,2311,0.000335,0.003348,"[0.053844016, 0.12275788, 0.2533172, 0.39628538]",0.105859,"{0.5=true, 0.9=true, 0.75=true, 0.95=true}",BELOW
1,2304,0.001215,0.012154,"[0.053844016, 0.12275788, 0.2533172, 0.39628538]",0.105859,"{0.5=true, 0.9=true, 0.75=true, 0.95=true}",BELOW
2,2309,0.001277,0.012770,"[0.053844016, 0.12275788, 0.2533172, 0.39628538]",0.105859,"{0.5=true, 0.9=true, 0.75=true, 0.95=true}",BELOW
3,2312,0.002524,0.025244,"[0.053844016, 0.12275788, 0.2533172, 0.39628538]",0.105859,"{0.5=true, 0.9=true, 0.75=true, 0.95=true}",BELOW
4,2303,0.003589,0.035886,"[0.053844016, 0.12275788, 0.2533172, 0.39628538]",0.105859,"{0.5=true, 0.9=true, 0.75=true, 0.95=true}",BELOW
...,...,...,...,...,...,...,...
281,5308,0.010033,0.100333,"[0.053844016, 0.12275788, 0.2533172, 0.39628538]",0.105859,"{0.5=true, 0.9=true, 0.75=true, 0.95=true}",BELOW
282,5304,0.031015,0.310153,"[0.053844016, 0.12275788, 0.2533172, 0.39628538]",0.105859,"{0.5=true, 0.9=true, 0.75=true, 0.95=true}",BELOW
283,5303,0.049229,0.492288,"[0.053844016, 0.12275788, 0.2533172, 0.39628538]",0.105859,"{0.5=true, 0.9=true, 0.75=true, 0.95=true}",BELOW
284,5301,0.090013,0.900126,"[0.053844016, 0.12275788, 0.2533172, 0.39628538]",0.105859,"{0.5=false, 0.9=true, 0.75=true, 0.95=true}",BELOW
285,3101,1.327908,1.327908,"[0.053844016, 0.12275788, 0.2533172, 0.39628538]",0.105859,"{0.5=false, 0.9=false, 0.75=false, 0.95=false}",ABOVE

# Table `fin_dep_pollution_baseline_city`

Since the table to create has missing value, please use the following at the top of the query

```
CREATE TABLE database.table_name WITH (format = 'PARQUET') AS
```

Choose a location in S3 to save the CSV. It is recommended to save in it the `datalake-datascience` bucket. Locate an appropriate folder in the bucket, and make sure all output have the same format

In [7]:
s3_output = 'DATA/ENVIRONMENT/CHINA/FYP/FINANCIAL_CONTRAINT/PAPER_FYP_FINANCE_POL/BASELINE/CITY'
table_name = 'fin_dep_pollution_baseline_city'

First, we need to delete the table (if exist)

In [21]:
try:
    response = glue.delete_table(
        database=DatabaseName,
        table=table_name
    )
    print(response)
except Exception as e:
    print(e)

{'ResponseMetadata': {'RequestId': '99aae94a-6596-49e5-9654-193ddd8c24fd', 'HTTPStatusCode': 200, 'HTTPHeaders': {'date': 'Mon, 11 Jan 2021 17:19:11 GMT', 'content-type': 'application/x-amz-json-1.1', 'content-length': '2', 'connection': 'keep-alive', 'x-amzn-requestid': '99aae94a-6596-49e5-9654-193ddd8c24fd'}, 'RetryAttempts': 0}}

Clean up the folder with the previous csv file. Be careful, it will erase all files inside the folder

In [22]:
s3.remove_all_bucket(path_remove = s3_output)

True

In [23]:
%%time
query = """
CREATE TABLE {0}.{1} WITH (format = 'PARQUET') AS WITH aggregate_pol AS (
SELECT 
    year, 
    geocode4_corr, 
    provinces, 
    cityen, 
    ind2, 
    SUM(tso2) as tso2, 
    lower_location, 
    larger_location, 
    coastal 
  FROM 
    (
      SELECT 
        year, 
        provinces, 
        citycode, 
        geocode4_corr, 
        china_city_sector_pollution.cityen, 
        ind2, 
        tso2, 
        lower_location, 
        larger_location, 
        coastal 
      FROM 
        environment.china_city_sector_pollution 
        INNER JOIN (
          SELECT 
            extra_code, 
            geocode4_corr 
          FROM 
            chinese_lookup.china_city_code_normalised 
          GROUP BY 
            extra_code, 
            geocode4_corr
        ) as no_dup_citycode ON china_city_sector_pollution.citycode = no_dup_citycode.extra_code
    ) 
  GROUP BY 
    year, 
    provinces, 
    geocode4_corr, 
    cityen, 
    ind2, 
    lower_location, 
    larger_location, 
    coastal
) 
SELECT 
  aggregate_pol.year, 
  CASE WHEN aggregate_pol.year in (
    '2001', '2002', '2003', '2004', '2005'
  ) THEN 'FALSE' WHEN aggregate_pol.year in ('2006', '2007') THEN 'TRUE' END AS period, 
  provinces, 
  cityen, 
  aggregate_pol.geocode4_corr, 
  CASE WHEN tcz IS NULL THEN '0' ELSE tcz END AS tcz, 
  CASE WHEN spz IS NULL OR spz = '#N/A' THEN '0' ELSE spz END AS spz, 
  aggregate_pol.ind2, 
  CASE WHEN short IS NULL THEN 'Unknown' ELSE short END AS short, 
  polluted_di, 
  polluted_mi, 
  polluted_mei, 
  tso2, 
  CAST(
    tso2 AS DECIMAL(16, 5)
  ) / CAST(
    output AS DECIMAL(16, 5)
  ) AS so2_intensity, 
  tso2_mandate_c,
  above_threshold_mandate,
  above_average_mandate,
  in_10_000_tonnes, 
  CAST(
    output AS DECIMAL(16, 5)
  ) AS output, 
  CAST(
    employment AS DECIMAL(16, 5)
  ) AS employment, 
  CAST(
    sales AS DECIMAL(16, 5)
  ) AS sales, 
  CAST(
    capital AS DECIMAL(16, 5)
  ) AS capital, 
  CAST(
    toasset AS DECIMAL(16, 5)
  ) AS total_asset, 
  credit_constraint, 
  receivable_curasset_ci,
  std_receivable_curasset_ci,
  cash_over_curasset_ci,
  std_cash_over_curasset_ci,
  cash_over_totasset_ci,
  std_cash_over_totasset_ci,
  working_capital_ci,
  std_working_capital_ci,
  working_capital_requirement_ci,
  std_working_capital_requirement_ci,
  current_ratio_ci,
  std_current_ratio_ci,
  quick_ratio_ci,
  std_quick_ratio_ci,
  cash_ratio_ci,
  std_cash_ratio_ci,
  liabilities_assets_ci,
  std_liabilities_assets_ci,
  1 - liabilities_assets_ci as reverse_liabilities_assets_ci,
  1-std_liabilities_assets_ci as reverse_std_liabilities_assets_ci,
  sales_assets_andersen_ci,
  std_sales_assets_andersen_ci,
  return_on_asset_ci,
  std_return_on_asset_ci,
  sales_assets_ci,
  std_sales_assets_ci,
  account_paybable_to_asset_ci,
  std_account_paybable_to_asset_ci,
  asset_tangibility_ci,
  std_asset_tangibility_ci,
  rd_intensity_ci,
  std_rd_intensity_ci,
  inventory_to_sales_ci,
  std_inventory_to_sales_ci,
  lower_location, 
  larger_location, 
  coastal,
  dominated_output_soe_c,
  dominated_employment_soe_c,
  dominated_sales_soe_c,
  dominated_capital_soe_c,
  dominated_output_for_c,
  dominated_employment_for_c,
  dominated_sales_for_c,
  dominated_capital_for_c, 
  med_dominated_output_i, 
  med_dominated_capital_i,
  med_dominated_sales_i,
  med_dominated_employ_i,
  dominated_output_i,
  dominated_employment_i,
  dominated_capital_i,
  dominated_sales_i,
  dominated_output_soe_i,
  dominated_employment_soe_i,
  dominated_sales_soe_i,
  dominated_capital_soe_i,
  dominated_output_for_i,
  dominated_employment_for_i,
  dominated_sales_for_i,
  dominated_capital_for_i, 
  DENSE_RANK() OVER (
    ORDER BY 
      city_mandate.geocode4_corr, 
      aggregate_pol.ind2
  ) AS fe_c_i, 
  DENSE_RANK() OVER (
    ORDER BY 
      aggregate_pol.year, 
      aggregate_pol.ind2
  ) AS fe_t_i, 
  DENSE_RANK() OVER (
    ORDER BY 
      city_mandate.geocode4_corr, 
      aggregate_pol.year
  ) AS fe_c_t 
FROM 
  aggregate_pol 
  INNER JOIN firms_survey.asif_industry_financial_ratio_city 
  ON aggregate_pol.ind2 = asif_industry_financial_ratio_city.indu_2 
  AND aggregate_pol.geocode4_corr = asif_industry_financial_ratio_city.geocode4_corr 
  INNER JOIN (
    SELECT 
  geocode4_corr, 
  tso2_mandate_c, 
  in_10_000_tonnes, 
  MAP(
    ARRAY[.5, 
    .75, 
    .90, 
    .95 ], 
    zip_with(
      transform(
        sequence(1, 4), 
        x -> tso2_mandate_c
      ), 
      tso2_mandate_c_pct, 
      (x, y) -> x < y
    )
  ) AS above_threshold_mandate, 
  CASE WHEN tso2_mandate_c > tso2_mandate_c_avg THEN 'ABOVE' ELSE 'BELOW' END AS above_average_mandate 
FROM 
  (
    (
      SELECT 
        'TEMP' as temp, 
        approx_percentile(
          tso2_mandate_c, ARRAY[.5,.75,.90, 
          .95]
        ) AS tso2_mandate_c_pct, 
        AVG(tso2_mandate_c) AS tso2_mandate_c_avg 
      FROM 
        policy.china_city_reduction_mandate
    ) as percentile 
    LEFT JOIN (
      SELECT 
        'TEMP' as temp, 
        citycn, 
        tso2_mandate_c, 
        in_10_000_tonnes 
      FROM 
        policy.china_city_reduction_mandate
    ) as mandate ON percentile.temp = mandate.temp
  ) as map_mandate
  INNER JOIN chinese_lookup.china_city_code_normalised ON map_mandate.citycn = china_city_code_normalised.citycn 
    WHERE 
      extra_code = geocode4_corr
  ) as city_mandate ON aggregate_pol.geocode4_corr = city_mandate.geocode4_corr 
  LEFT JOIN policy.china_city_tcz_spz ON aggregate_pol.geocode4_corr = china_city_tcz_spz.geocode4_corr 
  LEFT JOIN chinese_lookup.ind_cic_2_name ON aggregate_pol.ind2 = ind_cic_2_name.cic 
  LEFT JOIN (
    SELECT 
      ind2, 
      polluted_di, 
      polluted_mi, 
      polluted_mei
    FROM 
      "environment"."china_sector_pollution_threshold" 
    WHERE 
      year = '2001'
  ) as polluted_sector ON aggregate_pol.ind2 = polluted_sector.ind2 
  LEFT JOIN (
    SELECT 
      cic, 
      financial_dep_china AS credit_constraint 
    FROM 
      industry.china_credit_constraint
  ) as cred_constraint ON aggregate_pol.ind2 = cred_constraint.cic 
  LEFT JOIN (
    SELECT 
      year, 
      geocode4_corr, 
      indu_2, 
      SUM(output) AS output, 
      SUM(employ) AS employment, 
      SUM(captal) AS capital,
      SUM(sales) as sales,
      SUM(toasset) as toasset
    FROM 
      (
        SELECT 
          year, 
          geocode4_corr, 
          CASE WHEN LENGTH(cic) = 4 THEN substr(cic, 1, 2) ELSE concat(
            '0', 
            substr(cic, 1, 1)
          ) END AS indu_2, 
          output, 
          employ, 
          captal,
          sales,
          toasset
        FROM 
          firms_survey.asif_firms_prepared 
          INNER JOIN (
            SELECT 
              extra_code, 
              geocode4_corr 
            FROM 
              chinese_lookup.china_city_code_normalised 
            GROUP BY 
              extra_code, 
              geocode4_corr
          ) as no_dup_citycode ON asif_firms_prepared.citycode = no_dup_citycode.extra_code
      ) 
    WHERE 
      year in (
        '2001', '2002', '2003', '2004', '2005', 
        '2006', '2007'
      ) 
    GROUP BY 
      geocode4_corr, 
      indu_2, 
      year
  ) as agg_output ON aggregate_pol.geocode4_corr = agg_output.geocode4_corr 
  AND aggregate_pol.ind2 = agg_output.indu_2 
  AND aggregate_pol.year = agg_output.year 
  
  LEFT JOIN firms_survey.asif_industry_characteristics_ownership
    ON aggregate_pol.ind2 = asif_industry_characteristics_ownership.indu_2
    LEFT JOIN firms_survey.asif_city_characteristics_ownership
    ON aggregate_pol.geocode4_corr = asif_city_characteristics_ownership.geocode4_corr
  
WHERE 
  tso2 > 4863 
  AND output > 0 
  and capital > 0 
  and employment > 0
  AND aggregate_pol.ind2 != '43'

""".format(DatabaseName, table_name)
output = s3.run_query(
                    query=query,
                    database=DatabaseName,
                    s3_output=s3_output,
                )
output

CPU times: user 331 ms, sys: 11.7 ms, total: 342 ms
Wall time: 10.7 s

{'Results': {'State': 'SUCCEEDED',
  'SubmissionDateTime': datetime.datetime(2021, 1, 11, 17, 19, 16, 867000, tzinfo=tzlocal()),
  'CompletionDateTime': datetime.datetime(2021, 1, 11, 17, 19, 27, 128000, tzinfo=tzlocal())},
 'QueryID': 'b1a2ab58-f0b6-4f6f-89aa-f0f6b557a946'}

In [25]:
query_count = """
SELECT COUNT(*) AS CNT
FROM {}.{} 
""".format(DatabaseName, table_name)
output = s3.run_query(
                    query=query_count,
                    database=DatabaseName,
                    s3_output=s3_output_example,
    filename = 'count_{}'.format(table_name)
                )
output

     CNT
0  27825

## Check industry vs city

We need to make sure both tables, industry and city have the same number of observations. We need to compare:

- year
- geocode4_corr
- indu_2

If there are differences, the reasons comes from missing pair city-industry during year 2004-2006

In [12]:
query_count = """
SELECT year, geocode4_corr, ind2
FROM fin_dep_pollution_baseline_industry
""".format(DatabaseName, table_name)
df_industry = s3.run_query(
                    query=query_count,
                    database=DatabaseName,
                    s3_output=s3_output_example,
    filename = 'count_{}'.format(table_name)
                )
df_industry.head()

   year  geocode4_corr  ind2
0  2001           1101    24
1  2001           1101    23
2  2001           1101    31
3  2001           1101    29
4  2001           1101    36

In [13]:
df_industry.shape

(27975, 3)

In [14]:
query_count = """
SELECT year, geocode4_corr, ind2
FROM fin_dep_pollution_baseline_city
""".format(DatabaseName, table_name)
df_city = s3.run_query(
                    query=query_count,
                    database=DatabaseName,
                    s3_output=s3_output_example,
    filename = 'count_{}'.format(table_name)
                )
df_city.head()

   year  geocode4_corr  ind2
0  2001           1101    36
1  2001           1101    35
2  2001           1101    13
3  2001           1101    25
4  2001           1101    20

In [15]:
df_city.shape

(27825, 3)

There are 150 missing pairs city-industry

In [16]:
(
    (
        df_industry
        .set_index(['year', 'geocode4_corr', 'ind2'])
    ).merge(
        df_city.set_index(['year', 'geocode4_corr', 'ind2']),
        left_index=True, right_index=True, indicator=True, how='left'
    )
    .loc[lambda x: ~x['_merge'].isin(['both'])]
)

                            _merge
year geocode4_corr ind2
2007 1303          25    left_only
2001 1308          22    left_only
2002 1308          22    left_only
2003 1308          22    left_only
2001 1402          40    left_only
...                            ...
     6403          42    left_only
2002 6403          42    left_only
2007 2109          42    left_only
2001 6501          28    left_only
2002 6501          28    left_only

[150 rows x 1 columns]

Let's check the example for city "2109" in industry "42" -> No value displays because missing

In [17]:
query_example = """
WITH test AS (
  SELECT 
    *, 
    CASE WHEN LENGTH(cic) = 4 THEN substr(cic,1, 2) ELSE concat('0',substr(cic,1, 1)) END AS indu_2, 
    c98 + c99 as total_asset 
  FROM 
    firms_survey.asif_firms_prepared
  INNER JOIN 
  (
  SELECT extra_code, geocode4_corr
  FROM chinese_lookup.china_city_code_normalised 
  GROUP BY extra_code, geocode4_corr
  ) as no_dup_citycode
ON asif_firms_prepared.citycode = no_dup_citycode.extra_code
) 
    
SELECT 
      *
    FROM test
    WHERE year in ('2004', '2005', '2006') and geocode4_corr = '2109' and indu_2 = '42'
"""
output = s3.run_query(
                    query=query_example,
                    database=DatabaseName,
                    s3_output=s3_output_example,
    filename = 'count_{}'.format(table_name)
                )
output

Empty DataFrame
Columns: [firm, year, export, dq, name, town, village, street, c15, zip, product1_, c26, c27, cic, type, c44, c45, setup, c47, c60, c61, employ, c69, output, new_product, c74, addval, cuasset, c80, c81, c82, c83, c84, c85, tofixed, c87, todepre, cudepre, netfixed, c91, c92, toasset, c95, c97, c98, c99, captal, e_state, e_collective, e_legal_person, e_individual, e_hmt, e_foreign, sales, c108, c113, c110, c111, c114, c115, c116, c118, c124, c125, profit, c128, c131, c132, c133, c134, c136, wage, c140, c141, c142, c143, c144, c145, midput, c62, c147, c64, c65, c93, c16, c9, c10, c11, c17, c29, c167, c168, v90, c79, c96, c117, c119, c121, trainfee, c123, ...]
Index: []

# Validate query

This step is mandatory to validate the query in the ETL. If you are not sure about the quality of the query, go to the next step.

To validate the query, please fillin the json below. Don't forget to change the schema so that the crawler can use it.

1. Add a partition key:
    - Inform if there is group in the table so that, the parser can compute duplicate
2. Add the steps number -> Not automtic yet. Start at 0
3. Change the schema if needed. It is highly recommanded to add comment to the fields
4. Provide a description -> detail the steps

1. Add a partition key

In [18]:
partition_keys = ["geocode4_corr", "year", "ind2"]

2. Add the steps number

In [19]:
step = 3

3. Change the schema

Bear in mind that CSV SerDe (OpenCSVSerDe) does not support empty fields in columns defined as a numeric data type. All columns with missing values should be saved as string.

In [26]:
glue.get_table_information(
    database = DatabaseName,
    table = table_name)['Table']['StorageDescriptor']['Columns']

[{'Name': 'year', 'Type': 'string', 'Comment': ''},
 {'Name': 'period', 'Type': 'varchar(5)', 'Comment': ''},
 {'Name': 'provinces', 'Type': 'string', 'Comment': ''},
 {'Name': 'cityen', 'Type': 'string', 'Comment': ''},
 {'Name': 'geocode4_corr', 'Type': 'string', 'Comment': ''},
 {'Name': 'tcz', 'Type': 'string', 'Comment': ''},
 {'Name': 'spz', 'Type': 'string', 'Comment': ''},
 {'Name': 'ind2', 'Type': 'string', 'Comment': ''},
 {'Name': 'short', 'Type': 'string', 'Comment': ''},
 {'Name': 'polluted_di', 'Type': 'varchar(5)', 'Comment': ''},
 {'Name': 'polluted_mi', 'Type': 'varchar(5)', 'Comment': ''},
 {'Name': 'polluted_mei', 'Type': 'varchar(5)', 'Comment': ''},
 {'Name': 'tso2', 'Type': 'bigint', 'Comment': ''},
 {'Name': 'so2_intensity', 'Type': 'decimal(21,5)', 'Comment': ''},
 {'Name': 'tso2_mandate_c', 'Type': 'float', 'Comment': ''},
 {'Name': 'above_threshold_mandate',
  'Type': 'map<double,boolean>',
  'Comment': ''},
 {'Name': 'above_average_mandate', 'Type': 'varchar(5)', 'Comment': ''},
 {'Name': 'in_10_000_tonnes', 'Type': 'float', 'Comment': ''},
 {'Name': 'output', 'Type': 'decimal(16,5)', 'Comment': ''},
 {'Name': 'employment', 'Type': 'decimal(16,5)', 'Comment': ''},
 {'Name': 'sales', 'Type': 'decimal(16,5)', 'Comment': ''},
 {'Name': 'capital', 'Type': 'decimal(16,5)', 'Comment': ''},
 {'Name': 'total_asset', 'Type': 'decimal(16,5)', 'Comment': ''},
 {'Name': 'credit_constraint', 'Type': 'float', 'Comment': ''},
 {'Name': 'receivable_curasset_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'std_receivable_curasset_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'cash_over_curasset_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'std_cash_over_curasset_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'cash_over_totasset_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'std_cash_over_totasset_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'working_capital_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'std_working_capital_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'working_capital_requirement_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'std_working_capital_requirement_ci',
  'Type': 'double',
  'Comment': ''},
 {'Name': 'current_ratio_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'std_current_ratio_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'quick_ratio_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'std_quick_ratio_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'cash_ratio_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'std_cash_ratio_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'liabilities_assets_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'std_liabilities_assets_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'reverse_liabilities_assets_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'reverse_std_liabilities_assets_ci',
  'Type': 'double',
  'Comment': ''},
 {'Name': 'sales_assets_andersen_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'std_sales_assets_andersen_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'return_on_asset_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'std_return_on_asset_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'sales_assets_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'std_sales_assets_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'account_paybable_to_asset_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'std_account_paybable_to_asset_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'asset_tangibility_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'std_asset_tangibility_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'rd_intensity_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'std_rd_intensity_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'inventory_to_sales_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'std_inventory_to_sales_ci', 'Type': 'double', 'Comment': ''},
 {'Name': 'lower_location', 'Type': 'string', 'Comment': ''},
 {'Name': 'larger_location', 'Type': 'string', 'Comment': ''},
 {'Name': 'coastal', 'Type': 'string', 'Comment': ''},
 {'Name': 'dominated_output_soe_c',
  'Type': 'map<double,boolean>',
  'Comment': ''},
 {'Name': 'dominated_employment_soe_c',
  'Type': 'map<double,boolean>',
  'Comment': ''},
 {'Name': 'dominated_sales_soe_c',
  'Type': 'map<double,boolean>',
  'Comment': ''},
 {'Name': 'dominated_capital_soe_c',
  'Type': 'map<double,boolean>',
  'Comment': ''},
 {'Name': 'dominated_output_for_c',
  'Type': 'map<double,boolean>',
  'Comment': ''},
 {'Name': 'dominated_employment_for_c',
  'Type': 'map<double,boolean>',
  'Comment': ''},
 {'Name': 'dominated_sales_for_c',
  'Type': 'map<double,boolean>',
  'Comment': ''},
 {'Name': 'dominated_capital_for_c',
  'Type': 'map<double,boolean>',
  'Comment': ''},
 {'Name': 'med_dominated_output_i', 'Type': 'varchar(5)', 'Comment': ''},
 {'Name': 'med_dominated_capital_i', 'Type': 'varchar(5)', 'Comment': ''},
 {'Name': 'med_dominated_sales_i', 'Type': 'varchar(5)', 'Comment': ''},
 {'Name': 'med_dominated_employ_i', 'Type': 'varchar(5)', 'Comment': ''},
 {'Name': 'dominated_output_i', 'Type': 'map<double,boolean>', 'Comment': ''},
 {'Name': 'dominated_employment_i',
  'Type': 'map<double,boolean>',
  'Comment': ''},
 {'Name': 'dominated_capital_i', 'Type': 'map<double,boolean>', 'Comment': ''},
 {'Name': 'dominated_sales_i', 'Type': 'map<double,boolean>', 'Comment': ''},
 {'Name': 'dominated_output_soe_i',
  'Type': 'map<double,boolean>',
  'Comment': ''},
 {'Name': 'dominated_employment_soe_i',
  'Type': 'map<double,boolean>',
  'Comment': ''},
 {'Name': 'dominated_sales_soe_i',
  'Type': 'map<double,boolean>',
  'Comment': ''},
 {'Name': 'dominated_capital_soe_i',
  'Type': 'map<double,boolean>',
  'Comment': ''},
 {'Name': 'dominated_output_for_i',
  'Type': 'map<double,boolean>',
  'Comment': ''},
 {'Name': 'dominated_employment_for_i',
  'Type': 'map<double,boolean>',
  'Comment': ''},
 {'Name': 'dominated_sales_for_i',
  'Type': 'map<double,boolean>',
  'Comment': ''},
 {'Name': 'dominated_capital_for_i',
  'Type': 'map<double,boolean>',
  'Comment': ''},
 {'Name': 'fe_c_i', 'Type': 'bigint', 'Comment': ''},
 {'Name': 'fe_t_i', 'Type': 'bigint', 'Comment': ''},
 {'Name': 'fe_c_t', 'Type': 'bigint', 'Comment': ''}]

In [27]:
schema = [
    {"Name": "year", "Type": "string", "Comment": "year from 2001 to 2007"},
    {
        "Name": "period",
        "Type": "varchar(5)",
        "Comment": "False if year before 2005 included, True if year 2006 and 2007",
    },
    {"Name": "provinces", "Type": "string", "Comment": ""},
    {"Name": "cityen", "Type": "string", "Comment": ""},
    {"Name": "geocode4_corr", "Type": "string", "Comment": ""},
    {"Name": "tcz", "Type": "string", "Comment": "Two control zone policy city"},
    {"Name": "spz", "Type": "string", "Comment": "Special policy zone policy city"},
    {"Name": "ind2", "Type": "string", "Comment": "2 digits industry"},
    {"Name": "short", "Type": "string", "Comment": ""},
    {
        "Name": "polluted_di",
        "Type": "varchar(5)",
        "Comment": "Sectors with values above Yearly 75th percentile of SO2 label as ABOVE else BELOW",
    },
    {
        "Name": "polluted_mi",
        "Type": "varchar(5)",
        "Comment": "Sectors with values above Yearly average of SO2 label as ABOVE else BELOW",
    },
    {
        "Name": "polluted_mei",
        "Type": "varchar(5)",
        "Comment": "Sectors with values above Yearly median of SO2 label as ABOVE else BELOW",
    },
    {
        "Name": "tso2",
        "Type": "bigint",
        "Comment": "Total so2 city sector. Filtered values above  4863 (5% of the distribution)",
    },
    {
        "Name": "so2_intensity",
        "Type": "decimal(21,5)",
        "Comment": "SO2 divided by output",
    },
    {
        "Name": "tso2_mandate_c",
        "Type": "float",
        "Comment": "city reduction mandate in tonnes",
    },
    {
        "Name": "above_threshold_mandate",
        "Type": "map<double,boolean>",
        "Comment": "Policy mandate above percentile .5, .75, .9, .95",
    },
    {
        "Name": "above_average_mandate",
        "Type": "varchar(5)",
        "Comment": "Policy mandate above national average",
    },
    {
        "Name": "in_10_000_tonnes",
        "Type": "float",
        "Comment": "city reduction mandate in 10k tonnes",
    },
    {"Name": "output", "Type": "decimal(16,5)", "Comment": "Output"},
    {"Name": "employment", "Type": "decimal(16,5)", "Comment": "Employemnt"},
    {"Name": "sales", "Type": "decimal(16,5)", "Comment": "Sales"},
    {"Name": "capital", "Type": "decimal(16,5)", "Comment": "Capital"},
    {"Name": "total_asset", "Type": "decimal(16,5)", "Comment": "Total asset"},
    {
        "Name": "credit_constraint",
        "Type": "float",
        "Comment": "Financial dependency. From paper https://www.sciencedirect.com/science/article/pii/S0147596715000311",
    },
    {
        "Name": "receivable_curasset_ci",
        "Type": "double",
        "Comment": "应收帐款 (c80) / cuasset",
    },
    {
        "Name": "std_receivable_curasset_ci",
        "Type": "double",
        "Comment": "standaridzed values (x - x mean) / std)",
    },
    {
        "Name": "cash_over_curasset_ci",
        "Type": "double",
        "Comment": "1 - (其中：短期投资 (c79) - 应收帐款 (c80) - 存货 (c81) - 其中：产成品 (c82)) /current asset",
    },
    {
        "Name": "std_cash_over_curasset_ci",
        "Type": "double",
        "Comment": "standaridzed values (x - x mean) / std)",
    },
    {
        "Name": "cash_over_totasset_ci",
        "Type": "double",
        "Comment": "1 - (cuasset- 其中：短期投资 (c79) - 应收帐款 (c80) - 存货 (c81) - 其中：产成品 (c82)) /toasset",
    },
    {
        "Name": "std_cash_over_totasset_ci",
        "Type": "double",
        "Comment": "standaridzed values (x - x mean) / std)",
    },
    {
        "Name": "working_capital_ci",
        "Type": "double",
        "Comment": "cuasset- 流动负债合计 (c95)",
    },
    {
        "Name": "std_working_capital_ci",
        "Type": "double",
        "Comment": "standaridzed values (x - x mean) / std)",
    },
    {
        "Name": "working_capital_requirement_ci",
        "Type": "double",
        "Comment": "存货 (c81) + 应收帐款 (c80) - 应付帐款  (c96)",
    },
    {
        "Name": "std_working_capital_requirement_ci",
        "Type": "double",
        "Comment": "standaridzed values (x - x mean) / std)",
    },
    {"Name": "current_ratio_ci", "Type": "double", "Comment": "cuasset/流动负债合计 (c95)"},
    {
        "Name": "std_current_ratio_ci",
        "Type": "double",
        "Comment": "standaridzed values (x - x mean) / std)",
    },
    {
        "Name": "quick_ratio_ci",
        "Type": "double",
        "Comment": "(cuasset-存货 (c81) ) / 流动负债合计 (c95)",
    },
    {
        "Name": "std_quick_ratio_ci",
        "Type": "double",
        "Comment": "standaridzed values (x - x mean) / std)",
    },
    {
        "Name": "cash_ratio_ci",
        "Type": "double",
        "Comment": "1 - (cuasset -  其中：短期投资 (c79) - 应收帐款 (c80) - 存货 (c81)/ 流动负债合计 (c95)",
    },
    {
        "Name": "std_cash_ratio_ci",
        "Type": "double",
        "Comment": "standaridzed values (x - x mean) / std)",
    },
    {
        "Name": "liabilities_assets_ci",
        "Type": "double",
        "Comment": "1- (流动负债合计 (c95) + 长期负债合计 (c97)) / toasset",
    },
    {
        "Name": "std_liabilities_assets_ci",
        "Type": "double",
        "Comment": "standaridzed values (x - x mean) / std)",
    },
    {
        "Name": "reverse_liabilities_assets_ci",
        "Type": "double",
        "Comment": "1 - liabilities_assets_ci",
    },
    {
        "Name": "reverse_std_liabilities_assets_ci",
        "Type": "double",
        "Comment": "1-standaridzed values (x - x mean) / std)",
    },
    {
        "Name": "sales_assets_andersen_ci",
        "Type": "double",
        "Comment": "全年营业收入合计 (c64) /(toasset)",
    },
    {
        "Name": "std_sales_assets_andersen_ci",
        "Type": "double",
        "Comment": "standaridzed values (x - x mean) / std)",
    },
    {
        "Name": "return_on_asset_ci",
        "Type": "double",
        "Comment": "sales - (主营业务成本 (c108) + 营业费用 (c113) + 管理费用 (c114) + 财产保险费 (c116) + 劳动、失业保险费 (c118)+ 财务费用 (c124) + 本年应付工资总额 (wage)) /toasset",
    },
    {
        "Name": "std_return_on_asset_ci",
        "Type": "double",
        "Comment": "standaridzed values (x - x mean) / std)",
    },
    {
        "Name": "sales_assets_ci",
        "Type": "double",
        "Comment": "全年营业收入合计 (c64) /(\Delta toasset/2)",
    },
    {
        "Name": "std_sales_assets_ci",
        "Type": "double",
        "Comment": "standaridzed values (x - x mean) / std)",
    },
    {
        "Name": "account_paybable_to_asset_ci",
        "Type": "double",
        "Comment": "(\Delta 应付帐款  (c96))/ (\Delta (toasset))",
    },
    {
        "Name": "std_account_paybable_to_asset_ci",
        "Type": "double",
        "Comment": "standaridzed values (x - x mean) / std)",
    },
    {
        "Name": "asset_tangibility_ci",
        "Type": "double",
        "Comment": "Total fixed assets - Intangible assets",
    },
    {
        "Name": "std_asset_tangibility_ci",
        "Type": "double",
        "Comment": "standaridzed values (x - x mean) / std)",
    },
    {"Name": "rd_intensity_ci", "Type": "double", "Comment": "rdfee/全年营业收入合计 (c64)"},
    {
        "Name": "std_rd_intensity_ci",
        "Type": "double",
        "Comment": "standaridzed values (x - x mean) / std)",
    },
    {"Name": "inventory_to_sales_ci", "Type": "double", "Comment": "存货 (c81) / sales"},
    {
        "Name": "std_inventory_to_sales_ci",
        "Type": "double",
        "Comment": "standaridzed values (x - x mean) / std)",
    },
    {
        "Name": "lower_location",
        "Type": "string",
        "Comment": "Location city. one of Coastal, Central, Northwest, Northeast, Southwest",
    },
    {
        "Name": "larger_location",
        "Type": "string",
        "Comment": "Location city. one of Eastern, Central, Western",
    },
    {"Name": "coastal", "Type": "string", "Comment": "City is bordered by sea or not"},
    {
        "Name": "dominated_output_soe_c",
        "Type": "map<double,boolean>",
        "Comment": "map with information on SOE dominated city knowing percentile .5, .75, .9, .95 of output",
    },
    {
        "Name": "dominated_employment_soe_c",
        "Type": "map<double,boolean>",
        "Comment": "map with information on SOE dominated city knowing percentile .5, .75, .9, .95 of employment",
    },
    {
        "Name": "dominated_sales_soe_c",
        "Type": "map<double,boolean>",
        "Comment": "map with information on SOE dominated city knowing percentile .5, .75, .9, .95 of sales",
    },
    {
        "Name": "dominated_capital_soe_c",
        "Type": "map<double,boolean>",
        "Comment": "map with information on SOE dominated city knowing percentile .5, .75, .9, .95 of capital",
    },
    {
        "Name": "dominated_output_for_c",
        "Type": "map<double,boolean>",
        "Comment": "map with information on foreign dominated city knowing percentile .5, .75, .9, .95 of output",
    },
    {
        "Name": "dominated_employment_for_c",
        "Type": "map<double,boolean>",
        "Comment": "map with information on foreign dominated city knowing percentile .5, .75, .9, .95 of employment",
    },
    {
        "Name": "dominated_sales_for_c",
        "Type": "map<double,boolean>",
        "Comment": "map with information on foreign dominated city knowing percentile .5, .75, .9, .95 of sales",
    },
    {
        "Name": "dominated_capital_for_c",
        "Type": "map<double,boolean>",
        "Comment": "map with information on foreign dominated city knowing percentile .5, .75, .9, .95 of capital",
    },
    {'Name': 'med_dominated_output_i', 'Type': 'varchar(5)', 'Comment': 'Output industry above national median'},
 {'Name': 'med_dominated_capital_i', 'Type': 'varchar(5)', 'Comment': 'Capital industry above national median'},
 {'Name': 'med_dominated_sales_i', 'Type': 'varchar(5)', 'Comment': 'Sales industry above national median'},
 {'Name': 'med_dominated_employ_i', 'Type': 'varchar(5)', 'Comment': 'Employment industry above national median'},
    {
        "Name": "dominated_output_i",
        "Type": "map<double,boolean>",
        "Comment": "map with information dominated industry knowing percentile .5, .75, .9, .95 of output",
    },
    {
        "Name": "dominated_employment_i",
        "Type": "map<double,boolean>",
        "Comment": "map with information on dominated industry knowing percentile .5, .75, .9, .95 of employment",
    },
    {
        "Name": "dominated_capital_i",
        "Type": "map<double,boolean>",
        "Comment": "map with information on dominated industry knowing percentile .5, .75, .9, .95 of capital",
    },
    {
        "Name": "dominated_sales_i",
        "Type": "map<double,boolean>",
        "Comment": "map with information on SOE dominated industry knowing percentile .5, .75, .9, .95 of sales",
    },
    {
        "Name": "dominated_output_soe_i",
        "Type": "map<double,boolean>",
        "Comment": "map with information on SOE dominated industry knowing percentile .5, .75, .9, .95 of output",
    },
    {
        "Name": "dominated_employment_soe_i",
        "Type": "map<double,boolean>",
        "Comment": "map with information on SOE dominated industry knowing percentile .5, .75, .9, .95 of employment",
    },
    {
        "Name": "dominated_sales_soe_i",
        "Type": "map<double,boolean>",
        "Comment": "map with information on SOE dominated industry knowing percentile .5, .75, .9, .95 of sales",
    },
    {
        "Name": "dominated_capital_soe_i",
        "Type": "map<double,boolean>",
        "Comment": "map with information on SOE dominated industry knowing percentile .5, .75, .9, .95 of capital",
    },
    {
        "Name": "dominated_output_for_i",
        "Type": "map<double,boolean>",
        "Comment": "map with information on foreign dominated industry knowing percentile .5, .75, .9, .95 of output",
    },
    {
        "Name": "dominated_employment_for_i",
        "Type": "map<double,boolean>",
        "Comment": "map with information on foreign dominated industry knowing percentile .5, .75, .9, .95 of employment",
    },
    {
        "Name": "dominated_sales_for_i",
        "Type": "map<double,boolean>",
        "Comment": "map with information on foreign dominated industry knowing percentile .5, .75, .9, .95 of sales",
    },
    {
        "Name": "dominated_capital_for_i",
        "Type": "map<double,boolean>",
        "Comment": "map with information on foreign dominated industry knowing percentile .5, .75, .9, .95 of capital",
    },
    {"Name": "fe_c_i", "Type": "bigint", "Comment": "City industry fixed effect"},
    {"Name": "fe_t_i", "Type": "bigint", "Comment": "year industry fixed effect"},
    {"Name": "fe_c_t", "Type": "bigint", "Comment": "city industry fixed effect"},
]

4. Provide a description

In [28]:
description = """
Transform (creating time-break variables and fixed effect) asif_financial_ratio data and merging pollution, industry and city mandate tables
with financial ratio at the city level
"""

5. provide metadata

- DatabaseName
- TablePrefix
-

In [29]:
json_etl = {
    'step': step,
    'description':description,
    'query':query,
    'schema': schema,
    'partition_keys':partition_keys,
    'metadata':{
    'DatabaseName' : DatabaseName,
    'TableName' : table_name,
    'target_S3URI' : os.path.join('s3://',bucket, s3_output),
    'from_athena': 'True'    
    }
}
json_etl

{'step': 3,
 'description': '\nTransform (creating time-break variables and fixed effect) asif_financial_ratio data and merging pollution, industry and city mandate tables\nwith financial ratio at the city level\n',
 'query': '\nCREATE TABLE environment.fin_dep_pollution_baseline_city WITH (format = \'PARQUET\') AS WITH aggregate_pol AS (\nSELECT \n    year, \n    geocode4_corr, \n    provinces, \n    cityen, \n    ind2, \n    SUM(tso2) as tso2, \n    lower_location, \n    larger_location, \n    coastal \n  FROM \n    (\n      SELECT \n        year, \n        provinces, \n        citycode, \n        geocode4_corr, \n        china_city_sector_pollution.cityen, \n        ind2, \n        tso2, \n        lower_location, \n        larger_location, \n        coastal \n      FROM \n        environment.china_city_sector_pollution \n        INNER JOIN (\n          SELECT \n            extra_code, \n            geocode4_corr \n          FROM \n            chinese_lookup.china_city_code_normalised \n          GROUP BY \n            extra_code, \n            geocode4_corr\n        ) as no_dup_citycode ON china_city_sector_pollution.citycode = no_dup_citycode.extra_code\n    ) \n  GROUP BY \n    year, \n    provinces, \n    geocode4_corr, \n    cityen, \n    ind2, \n    lower_location, \n    larger_location, \n    coastal\n) \nSELECT \n  aggregate_pol.year, \n  CASE WHEN aggregate_pol.year in (\n    \'2001\', \'2002\', \'2003\', \'2004\', \'2005\'\n  ) THEN \'FALSE\' WHEN aggregate_pol.year in (\'2006\', \'2007\') THEN \'TRUE\' END AS period, \n  provinces, \n  cityen, \n  aggregate_pol.geocode4_corr, \n  CASE WHEN tcz IS NULL THEN \'0\' ELSE tcz END AS tcz, \n  CASE WHEN spz IS NULL OR spz = \'#N/A\' THEN \'0\' ELSE spz END AS spz, \n  aggregate_pol.ind2, \n  CASE WHEN short IS NULL THEN \'Unknown\' ELSE short END AS short, \n  polluted_di, \n  polluted_mi, \n  polluted_mei, \n  tso2, \n  CAST(\n    tso2 AS DECIMAL(16, 5)\n  ) / CAST(\n    output AS DECIMAL(16, 5)\n  ) AS so2_intensity, \n  tso2_mandate_c,\n  above_threshold_mandate,\n  above_average_mandate,\n  in_10_000_tonnes, \n  CAST(\n    output AS DECIMAL(16, 5)\n  ) AS output, \n  CAST(\n    employment AS DECIMAL(16, 5)\n  ) AS employment, \n  CAST(\n    sales AS DECIMAL(16, 5)\n  ) AS sales, \n  CAST(\n    capital AS DECIMAL(16, 5)\n  ) AS capital, \n  CAST(\n    toasset AS DECIMAL(16, 5)\n  ) AS total_asset, \n  credit_constraint, \n  receivable_curasset_ci,\n  std_receivable_curasset_ci,\n  cash_over_curasset_ci,\n  std_cash_over_curasset_ci,\n  cash_over_totasset_ci,\n  std_cash_over_totasset_ci,\n  working_capital_ci,\n  std_working_capital_ci,\n  working_capital_requirement_ci,\n  std_working_capital_requirement_ci,\n  current_ratio_ci,\n  std_current_ratio_ci,\n  quick_ratio_ci,\n  std_quick_ratio_ci,\n  cash_ratio_ci,\n  std_cash_ratio_ci,\n  liabilities_assets_ci,\n  std_liabilities_assets_ci,\n  1 - liabilities_assets_ci as reverse_liabilities_assets_ci,\n  1-std_liabilities_assets_ci as reverse_std_liabilities_assets_ci,\n  sales_assets_andersen_ci,\n  std_sales_assets_andersen_ci,\n  return_on_asset_ci,\n  std_return_on_asset_ci,\n  sales_assets_ci,\n  std_sales_assets_ci,\n  account_paybable_to_asset_ci,\n  std_account_paybable_to_asset_ci,\n  asset_tangibility_ci,\n  std_asset_tangibility_ci,\n  rd_intensity_ci,\n  std_rd_intensity_ci,\n  inventory_to_sales_ci,\n  std_inventory_to_sales_ci,\n  lower_location, \n  larger_location, \n  coastal,\n  dominated_output_soe_c,\n  dominated_employment_soe_c,\n  dominated_sales_soe_c,\n  dominated_capital_soe_c,\n  dominated_output_for_c,\n  dominated_employment_for_c,\n  dominated_sales_for_c,\n  dominated_capital_for_c, \n  med_dominated_output_i, \n  med_dominated_capital_i,\n  med_dominated_sales_i,\n  med_dominated_employ_i,\n  dominated_output_i,\n  dominated_employment_i,\n  dominated_capital_i,\n  dominated_sales_i,\n  dominated_output_soe_i,\n  dominated_employment_soe_i,\n  dominated_sales_soe_i,\n  dominated_capital_soe_i,\n  dominated_output_for_i,\n  dominated_employment_for_i,\n  dominated_sales_for_i,\n  dominated_capital_for_i, \n  DENSE_RANK() OVER (\n    ORDER BY \n      city_mandate.geocode4_corr, \n      aggregate_pol.ind2\n  ) AS fe_c_i, \n  DENSE_RANK() OVER (\n    ORDER BY \n      aggregate_pol.year, \n      aggregate_pol.ind2\n  ) AS fe_t_i, \n  DENSE_RANK() OVER (\n    ORDER BY \n      city_mandate.geocode4_corr, \n      aggregate_pol.year\n  ) AS fe_c_t \nFROM \n  aggregate_pol \n  INNER JOIN firms_survey.asif_industry_financial_ratio_city \n  ON aggregate_pol.ind2 = asif_industry_financial_ratio_city.indu_2 \n  AND aggregate_pol.geocode4_corr = asif_industry_financial_ratio_city.geocode4_corr \n  INNER JOIN (\n    SELECT \n  geocode4_corr, \n  tso2_mandate_c, \n  in_10_000_tonnes, \n  MAP(\n    ARRAY[.5, \n    .75, \n    .90, \n    .95 ], \n    zip_with(\n      transform(\n        sequence(1, 4), \n        x -> tso2_mandate_c\n      ), \n      tso2_mandate_c_pct, \n      (x, y) -> x < y\n    )\n  ) AS above_threshold_mandate, \n  CASE WHEN tso2_mandate_c > tso2_mandate_c_avg THEN \'ABOVE\' ELSE \'BELOW\' END AS above_average_mandate \nFROM \n  (\n    (\n      SELECT \n        \'TEMP\' as temp, \n        approx_percentile(\n          tso2_mandate_c, ARRAY[.5,.75,.90, \n          .95]\n        ) AS tso2_mandate_c_pct, \n        AVG(tso2_mandate_c) AS tso2_mandate_c_avg \n      FROM \n        policy.china_city_reduction_mandate\n    ) as percentile \n    LEFT JOIN (\n      SELECT \n        \'TEMP\' as temp, \n        citycn, \n        tso2_mandate_c, \n        in_10_000_tonnes \n      FROM \n        policy.china_city_reduction_mandate\n    ) as mandate ON percentile.temp = mandate.temp\n  ) as map_mandate\n  INNER JOIN chinese_lookup.china_city_code_normalised ON map_mandate.citycn = china_city_code_normalised.citycn \n    WHERE \n      extra_code = geocode4_corr\n  ) as city_mandate ON aggregate_pol.geocode4_corr = city_mandate.geocode4_corr \n  LEFT JOIN policy.china_city_tcz_spz ON aggregate_pol.geocode4_corr = china_city_tcz_spz.geocode4_corr \n  LEFT JOIN chinese_lookup.ind_cic_2_name ON aggregate_pol.ind2 = ind_cic_2_name.cic \n  LEFT JOIN (\n    SELECT \n      ind2, \n      polluted_di, \n      polluted_mi, \n      polluted_mei\n    FROM \n      "environment"."china_sector_pollution_threshold" \n    WHERE \n      year = \'2001\'\n  ) as polluted_sector ON aggregate_pol.ind2 = polluted_sector.ind2 \n  LEFT JOIN (\n    SELECT \n      cic, \n      financial_dep_china AS credit_constraint \n    FROM \n      industry.china_credit_constraint\n  ) as cred_constraint ON aggregate_pol.ind2 = cred_constraint.cic \n  LEFT JOIN (\n    SELECT \n      year, \n      geocode4_corr, \n      indu_2, \n      SUM(output) AS output, \n      SUM(employ) AS employment, \n      SUM(captal) AS capital,\n      SUM(sales) as sales,\n      SUM(toasset) as toasset\n    FROM \n      (\n        SELECT \n          year, \n          geocode4_corr, \n          CASE WHEN LENGTH(cic) = 4 THEN substr(cic, 1, 2) ELSE concat(\n            \'0\', \n            substr(cic, 1, 1)\n          ) END AS indu_2, \n          output, \n          employ, \n          captal,\n          sales,\n          toasset\n        FROM \n          firms_survey.asif_firms_prepared \n          INNER JOIN (\n            SELECT \n              extra_code, \n              geocode4_corr \n            FROM \n              chinese_lookup.china_city_code_normalised \n            GROUP BY \n              extra_code, \n              geocode4_corr\n          ) as no_dup_citycode ON asif_firms_prepared.citycode = no_dup_citycode.extra_code\n      ) \n    WHERE \n      year in (\n        \'2001\', \'2002\', \'2003\', \'2004\', \'2005\', \n        \'2006\', \'2007\'\n      ) \n    GROUP BY \n      geocode4_corr, \n      indu_2, \n      year\n  ) as agg_output ON aggregate_pol.geocode4_corr = agg_output.geocode4_corr \n  AND aggregate_pol.ind2 = agg_output.indu_2 \n  AND aggregate_pol.year = agg_output.year \n  \n  LEFT JOIN firms_survey.asif_industry_characteristics_ownership\n    ON aggregate_pol.ind2 = asif_industry_characteristics_ownership.indu_2\n    LEFT JOIN firms_survey.asif_city_characteristics_ownership\n    ON aggregate_pol.geocode4_corr = asif_city_characteristics_ownership.geocode4_corr\n  \nWHERE \n  tso2 > 4863 \n  AND output > 0 \n  and capital > 0 \n  and employment > 0\n  AND aggregate_pol.ind2 != \'43\'\n\n',
 'schema': [{'Name': 'year',
   'Type': 'string',
   'Comment': 'year from 2001 to 2007'},
  {'Name': 'period',
   'Type': 'varchar(5)',
   'Comment': 'False if year before 2005 included, True if year 2006 and 2007'},
  {'Name': 'provinces', 'Type': 'string', 'Comment': ''},
  {'Name': 'cityen', 'Type': 'string', 'Comment': ''},
  {'Name': 'geocode4_corr', 'Type': 'string', 'Comment': ''},
  {'Name': 'tcz', 'Type': 'string', 'Comment': 'Two control zone policy city'},
  {'Name': 'spz',
   'Type': 'string',
   'Comment': 'Special policy zone policy city'},
  {'Name': 'ind2', 'Type': 'string', 'Comment': '2 digits industry'},
  {'Name': 'short', 'Type': 'string', 'Comment': ''},
  {'Name': 'polluted_di',
   'Type': 'varchar(5)',
   'Comment': 'Sectors with values above Yearly 75th percentile of SO2 label as ABOVE else BELOW'},
  {'Name': 'polluted_mi',
   'Type': 'varchar(5)',
   'Comment': 'Sectors with values above Yearly average of SO2 label as ABOVE else BELOW'},
  {'Name': 'polluted_mei',
   'Type': 'varchar(5)',
   'Comment': 'Sectors with values above Yearly median of SO2 label as ABOVE else BELOW'},
  {'Name': 'tso2',
   'Type': 'bigint',
   'Comment': 'Total so2 city sector. Filtered values above  4863 (5% of the distribution)'},
  {'Name': 'so2_intensity',
   'Type': 'decimal(21,5)',
   'Comment': 'SO2 divided by output'},
  {'Name': 'tso2_mandate_c',
   'Type': 'float',
   'Comment': 'city reduction mandate in tonnes'},
  {'Name': 'above_threshold_mandate',
   'Type': 'map<double,boolean>',
   'Comment': 'Policy mandate above percentile .5, .75, .9, .95'},
  {'Name': 'above_average_mandate',
   'Type': 'varchar(5)',
   'Comment': 'Policy mandate above national average'},
  {'Name': 'in_10_000_tonnes',
   'Type': 'float',
   'Comment': 'city reduction mandate in 10k tonnes'},
  {'Name': 'output', 'Type': 'decimal(16,5)', 'Comment': 'Output'},
  {'Name': 'employment', 'Type': 'decimal(16,5)', 'Comment': 'Employemnt'},
  {'Name': 'sales', 'Type': 'decimal(16,5)', 'Comment': 'Sales'},
  {'Name': 'capital', 'Type': 'decimal(16,5)', 'Comment': 'Capital'},
  {'Name': 'total_asset', 'Type': 'decimal(16,5)', 'Comment': 'Total asset'},
  {'Name': 'credit_constraint',
   'Type': 'float',
   'Comment': 'Financial dependency. From paper https://www.sciencedirect.com/science/article/pii/S0147596715000311'},
  {'Name': 'receivable_curasset_ci',
   'Type': 'double',
   'Comment': '应收帐款 (c80) / cuasset'},
  {'Name': 'std_receivable_curasset_ci',
   'Type': 'double',
   'Comment': 'standaridzed values (x - x mean) / std)'},
  {'Name': 'cash_over_curasset_ci',
   'Type': 'double',
   'Comment': '1 - (其中：短期投资 (c79) - 应收帐款 (c80) - 存货 (c81) - 其中：产成品 (c82)) /current asset'},
  {'Name': 'std_cash_over_curasset_ci',
   'Type': 'double',
   'Comment': 'standaridzed values (x - x mean) / std)'},
  {'Name': 'cash_over_totasset_ci',
   'Type': 'double',
   'Comment': '1 - (cuasset- 其中：短期投资 (c79) - 应收帐款 (c80) - 存货 (c81) - 其中：产成品 (c82)) /toasset'},
  {'Name': 'std_cash_over_totasset_ci',
   'Type': 'double',
   'Comment': 'standaridzed values (x - x mean) / std)'},
  {'Name': 'working_capital_ci',
   'Type': 'double',
   'Comment': 'cuasset- 流动负债合计 (c95)'},
  {'Name': 'std_working_capital_ci',
   'Type': 'double',
   'Comment': 'standaridzed values (x - x mean) / std)'},
  {'Name': 'working_capital_requirement_ci',
   'Type': 'double',
   'Comment': '存货 (c81) + 应收帐款 (c80) - 应付帐款  (c96)'},
  {'Name': 'std_working_capital_requirement_ci',
   'Type': 'double',
   'Comment': 'standaridzed values (x - x mean) / std)'},
  {'Name': 'current_ratio_ci',
   'Type': 'double',
   'Comment': 'cuasset/流动负债合计 (c95)'},
  {'Name': 'std_current_ratio_ci',
   'Type': 'double',
   'Comment': 'standaridzed values (x - x mean) / std)'},
  {'Name': 'quick_ratio_ci',
   'Type': 'double',
   'Comment': '(cuasset-存货 (c81) ) / 流动负债合计 (c95)'},
  {'Name': 'std_quick_ratio_ci',
   'Type': 'double',
   'Comment': 'standaridzed values (x - x mean) / std)'},
  {'Name': 'cash_ratio_ci',
   'Type': 'double',
   'Comment': '1 - (cuasset -  其中：短期投资 (c79) - 应收帐款 (c80) - 存货 (c81)/ 流动负债合计 (c95)'},
  {'Name': 'std_cash_ratio_ci',
   'Type': 'double',
   'Comment': 'standaridzed values (x - x mean) / std)'},
  {'Name': 'liabilities_assets_ci',
   'Type': 'double',
   'Comment': '1- (流动负债合计 (c95) + 长期负债合计 (c97)) / toasset'},
  {'Name': 'std_liabilities_assets_ci',
   'Type': 'double',
   'Comment': 'standaridzed values (x - x mean) / std)'},
  {'Name': 'reverse_liabilities_assets_ci',
   'Type': 'double',
   'Comment': '1 - liabilities_assets_ci'},
  {'Name': 'reverse_std_liabilities_assets_ci',
   'Type': 'double',
   'Comment': '1-standaridzed values (x - x mean) / std)'},
  {'Name': 'sales_assets_andersen_ci',
   'Type': 'double',
   'Comment': '全年营业收入合计 (c64) /(toasset)'},
  {'Name': 'std_sales_assets_andersen_ci',
   'Type': 'double',
   'Comment': 'standaridzed values (x - x mean) / std)'},
  {'Name': 'return_on_asset_ci',
   'Type': 'double',
   'Comment': 'sales - (主营业务成本 (c108) + 营业费用 (c113) + 管理费用 (c114) + 财产保险费 (c116) + 劳动、失业保险费 (c118)+ 财务费用 (c124) + 本年应付工资总额 (wage)) /toasset'},
  {'Name': 'std_return_on_asset_ci',
   'Type': 'double',
   'Comment': 'standaridzed values (x - x mean) / std)'},
  {'Name': 'sales_assets_ci',
   'Type': 'double',
   'Comment': '全年营业收入合计 (c64) /(\\Delta toasset/2)'},
  {'Name': 'std_sales_assets_ci',
   'Type': 'double',
   'Comment': 'standaridzed values (x - x mean) / std)'},
  {'Name': 'account_paybable_to_asset_ci',
   'Type': 'double',
   'Comment': '(\\Delta 应付帐款  (c96))/ (\\Delta (toasset))'},
  {'Name': 'std_account_paybable_to_asset_ci',
   'Type': 'double',
   'Comment': 'standaridzed values (x - x mean) / std)'},
  {'Name': 'asset_tangibility_ci',
   'Type': 'double',
   'Comment': 'Total fixed assets - Intangible assets'},
  {'Name': 'std_asset_tangibility_ci',
   'Type': 'double',
   'Comment': 'standaridzed values (x - x mean) / std)'},
  {'Name': 'rd_intensity_ci',
   'Type': 'double',
   'Comment': 'rdfee/全年营业收入合计 (c64)'},
  {'Name': 'std_rd_intensity_ci',
   'Type': 'double',
   'Comment': 'standaridzed values (x - x mean) / std)'},
  {'Name': 'inventory_to_sales_ci',
   'Type': 'double',
   'Comment': '存货 (c81) / sales'},
  {'Name': 'std_inventory_to_sales_ci',
   'Type': 'double',
   'Comment': 'standaridzed values (x - x mean) / std)'},
  {'Name': 'lower_location',
   'Type': 'string',
   'Comment': 'Location city. one of Coastal, Central, Northwest, Northeast, Southwest'},
  {'Name': 'larger_location',
   'Type': 'string',
   'Comment': 'Location city. one of Eastern, Central, Western'},
  {'Name': 'coastal',
   'Type': 'string',
   'Comment': 'City is bordered by sea or not'},
  {'Name': 'dominated_output_soe_c',
   'Type': 'map<double,boolean>',
   'Comment': 'map with information on SOE dominated city knowing percentile .5, .75, .9, .95 of output'},
  {'Name': 'dominated_employment_soe_c',
   'Type': 'map<double,boolean>',
   'Comment': 'map with information on SOE dominated city knowing percentile .5, .75, .9, .95 of employment'},
  {'Name': 'dominated_sales_soe_c',
   'Type': 'map<double,boolean>',
   'Comment': 'map with information on SOE dominated city knowing percentile .5, .75, .9, .95 of sales'},
  {'Name': 'dominated_capital_soe_c',
   'Type': 'map<double,boolean>',
   'Comment': 'map with information on SOE dominated city knowing percentile .5, .75, .9, .95 of capital'},
  {'Name': 'dominated_output_for_c',
   'Type': 'map<double,boolean>',
   'Comment': 'map with information on foreign dominated city knowing percentile .5, .75, .9, .95 of output'},
  {'Name': 'dominated_employment_for_c',
   'Type': 'map<double,boolean>',
   'Comment': 'map with information on foreign dominated city knowing percentile .5, .75, .9, .95 of employment'},
  {'Name': 'dominated_sales_for_c',
   'Type': 'map<double,boolean>',
   'Comment': 'map with information on foreign dominated city knowing percentile .5, .75, .9, .95 of sales'},
  {'Name': 'dominated_capital_for_c',
   'Type': 'map<double,boolean>',
   'Comment': 'map with information on foreign dominated city knowing percentile .5, .75, .9, .95 of capital'},
  {'Name': 'med_dominated_output_i',
   'Type': 'varchar(5)',
   'Comment': 'Output industry above national median'},
  {'Name': 'med_dominated_capital_i',
   'Type': 'varchar(5)',
   'Comment': 'Capital industry above national median'},
  {'Name': 'med_dominated_sales_i',
   'Type': 'varchar(5)',
   'Comment': 'Sales industry above national median'},
  {'Name': 'med_dominated_employ_i',
   'Type': 'varchar(5)',
   'Comment': 'Employment industry above national median'},
  {'Name': 'dominated_output_i',
   'Type': 'map<double,boolean>',
   'Comment': 'map with information dominated industry knowing percentile .5, .75, .9, .95 of output'},
  {'Name': 'dominated_employment_i',
   'Type': 'map<double,boolean>',
   'Comment': 'map with information on dominated industry knowing percentile .5, .75, .9, .95 of employment'},
  {'Name': 'dominated_capital_i',
   'Type': 'map<double,boolean>',
   'Comment': 'map with information on dominated industry knowing percentile .5, .75, .9, .95 of capital'},
  {'Name': 'dominated_sales_i',
   'Type': 'map<double,boolean>',
   'Comment': 'map with information on SOE dominated industry knowing percentile .5, .75, .9, .95 of sales'},
  {'Name': 'dominated_output_soe_i',
   'Type': 'map<double,boolean>',
   'Comment': 'map with information on SOE dominated industry knowing percentile .5, .75, .9, .95 of output'},
  {'Name': 'dominated_employment_soe_i',
   'Type': 'map<double,boolean>',
   'Comment': 'map with information on SOE dominated industry knowing percentile .5, .75, .9, .95 of employment'},
  {'Name': 'dominated_sales_soe_i',
   'Type': 'map<double,boolean>',
   'Comment': 'map with information on SOE dominated industry knowing percentile .5, .75, .9, .95 of sales'},
  {'Name': 'dominated_capital_soe_i',
   'Type': 'map<double,boolean>',
   'Comment': 'map with information on SOE dominated industry knowing percentile .5, .75, .9, .95 of capital'},
  {'Name': 'dominated_output_for_i',
   'Type': 'map<double,boolean>',
   'Comment': 'map with information on foreign dominated industry knowing percentile .5, .75, .9, .95 of output'},
  {'Name': 'dominated_employment_for_i',
   'Type': 'map<double,boolean>',
   'Comment': 'map with information on foreign dominated industry knowing percentile .5, .75, .9, .95 of employment'},
  {'Name': 'dominated_sales_for_i',
   'Type': 'map<double,boolean>',
   'Comment': 'map with information on foreign dominated industry knowing percentile .5, .75, .9, .95 of sales'},
  {'Name': 'dominated_capital_for_i',
   'Type': 'map<double,boolean>',
   'Comment': 'map with information on foreign dominated industry knowing percentile .5, .75, .9, .95 of capital'},
  {'Name': 'fe_c_i',
   'Type': 'bigint',
   'Comment': 'City industry fixed effect'},
  {'Name': 'fe_t_i',
   'Type': 'bigint',
   'Comment': 'year industry fixed effect'},
  {'Name': 'fe_c_t',
   'Type': 'bigint',
   'Comment': 'city industry fixed effect'}],
 'partition_keys': ['geocode4_corr', 'year', 'ind2'],
 'metadata': {'DatabaseName': 'environment',
  'TableName': 'fin_dep_pollution_baseline_city',
  'target_S3URI': 's3://datalake-datascience/DATA/ENVIRONMENT/CHINA/FYP/FINANCIAL_CONTRAINT/PAPER_FYP_FINANCE_POL/BASELINE/CITY',
  'from_athena': 'True'}}

In [30]:
with open(os.path.join(str(Path(path).parent), 'parameters_ETL_Financial_dependency_pollution.json')) as json_file:
    parameters = json.load(json_file)

Remove the step number from the current file (if exist)

In [32]:
index_to_remove = next(
                (
                    index
                    for (index, d) in enumerate(parameters['TABLES']['TRANSFORMATION']['STEPS'])
                    if d["step"] == step
                ),
                None,
            )
if index_to_remove != None:
    parameters['TABLES']['TRANSFORMATION']['STEPS'].pop(index_to_remove)

In [33]:
parameters['TABLES']['TRANSFORMATION']['STEPS'].append(json_etl)

Save JSON

In [34]:
with open(os.path.join(str(Path(path).parent), 'parameters_ETL_Financial_dependency_pollution.json'), "w")as outfile:
    json.dump(parameters, outfile)

# Create or update the data catalog

The query is saved in the S3 (bucket `datalake-datascience`) but the table is not available yet in the Data Catalog. Use the function `create_table_glue` to generate the table and update the catalog.

Few parameters are required:

- name_crawler: Name of the crawler
- Role: Role to temporary provide an access tho the service
- DatabaseName: Name of the database to create the table
- TablePrefix: Prefix of the table. Full name of the table will be `TablePrefix` + folder name

To update the schema, please use the following structure

```
schema = [
    {
        "Name": "VAR1",
        "Type": "",
        "Comment": ""
    },
    {
        "Name": "VAR2",
        "Type": "",
        "Comment": ""
    }
]
```

In [35]:
glue.update_schema_table(
    database = DatabaseName,
    table = table_name,
    schema= schema)

{'ResponseMetadata': {'RequestId': 'c8b47942-b717-40da-ba13-25791550998c',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Mon, 11 Jan 2021 17:21:02 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '2',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'c8b47942-b717-40da-ba13-25791550998c'},
  'RetryAttempts': 0}}

## Check Duplicates

One of the most important step when creating a table is to check if the table contains duplicates. The cell below checks if the table generated before is empty of duplicates. The code uses the JSON file to create the query parsed in Athena. 

You are required to define the group(s) that Athena will use to compute the duplicate. For instance, your table can be grouped by COL1 and COL2 (need to be string or varchar), then pass the list ['COL1', 'COL2']

In [36]:
partition_keys = ["geocode4_corr", "year", "ind2"]

with open(os.path.join(str(Path(path).parent), 'parameters_ETL_Financial_dependency_pollution.json')) as json_file:
    parameters = json.load(json_file)

In [37]:
### COUNT DUPLICATES
if len(partition_keys) > 0:
    groups = ' , '.join(partition_keys)

    query_duplicates = parameters["ANALYSIS"]['COUNT_DUPLICATES']['query'].format(
                                DatabaseName,table_name,groups
                                )
    dup = s3.run_query(
                                query=query_duplicates,
                                database=DatabaseName,
                                s3_output="SQL_OUTPUT_ATHENA",
                                filename="duplicates_{}".format(table_name))
    display(dup)

   CNT  CNT_DUPLICATE
0    1          27825

## Count missing values

In [38]:
#table = 'XX'
schema = glue.get_table_information(
    database = DatabaseName,
    table = table_name
)['Table']
schema

{'Name': 'fin_dep_pollution_baseline_city',
 'DatabaseName': 'environment',
 'Owner': '468786073381',
 'CreateTime': datetime.datetime(2021, 1, 11, 17, 19, 26, tzinfo=tzlocal()),
 'UpdateTime': datetime.datetime(2021, 1, 11, 17, 21, 2, tzinfo=tzlocal()),
 'LastAccessTime': datetime.datetime(1970, 1, 1, 0, 0, tzinfo=tzlocal()),
 'Retention': 0,
 'StorageDescriptor': {'Columns': [{'Name': 'year',
    'Type': 'string',
    'Comment': 'year from 2001 to 2007'},
   {'Name': 'period',
    'Type': 'varchar(5)',
    'Comment': 'False if year before 2005 included, True if year 2006 and 2007'},
   {'Name': 'provinces', 'Type': 'string', 'Comment': ''},
   {'Name': 'cityen', 'Type': 'string', 'Comment': ''},
   {'Name': 'geocode4_corr', 'Type': 'string', 'Comment': ''},
   {'Name': 'tcz',
    'Type': 'string',
    'Comment': 'Two control zone policy city'},
   {'Name': 'spz',
    'Type': 'string',
    'Comment': 'Special policy zone policy city'},
   {'Name': 'ind2', 'Type': 'string', 'Comment': '2 digits industry'},
   {'Name': 'short', 'Type': 'string', 'Comment': ''},
   {'Name': 'polluted_di',
    'Type': 'varchar(5)',
    'Comment': 'Sectors with values above Yearly 75th percentile of SO2 label as ABOVE else BELOW'},
   {'Name': 'polluted_mi',
    'Type': 'varchar(5)',
    'Comment': 'Sectors with values above Yearly average of SO2 label as ABOVE else BELOW'},
   {'Name': 'polluted_mei',
    'Type': 'varchar(5)',
    'Comment': 'Sectors with values above Yearly median of SO2 label as ABOVE else BELOW'},
   {'Name': 'tso2',
    'Type': 'bigint',
    'Comment': 'Total so2 city sector. Filtered values above  4863 (5% of the distribution)'},
   {'Name': 'so2_intensity',
    'Type': 'decimal(21,5)',
    'Comment': 'SO2 divided by output'},
   {'Name': 'tso2_mandate_c',
    'Type': 'float',
    'Comment': 'city reduction mandate in tonnes'},
   {'Name': 'above_threshold_mandate',
    'Type': 'map<double,boolean>',
    'Comment': 'Policy mandate above percentile .5, .75, .9, .95'},
   {'Name': 'above_average_mandate',
    'Type': 'varchar(5)',
    'Comment': 'Policy mandate above national average'},
   {'Name': 'in_10_000_tonnes',
    'Type': 'float',
    'Comment': 'city reduction mandate in 10k tonnes'},
   {'Name': 'output', 'Type': 'decimal(16,5)', 'Comment': 'Output'},
   {'Name': 'employment', 'Type': 'decimal(16,5)', 'Comment': 'Employemnt'},
   {'Name': 'sales', 'Type': 'decimal(16,5)', 'Comment': 'Sales'},
   {'Name': 'capital', 'Type': 'decimal(16,5)', 'Comment': 'Capital'},
   {'Name': 'total_asset', 'Type': 'decimal(16,5)', 'Comment': 'Total asset'},
   {'Name': 'credit_constraint',
    'Type': 'float',
    'Comment': 'Financial dependency. From paper https://www.sciencedirect.com/science/article/pii/S0147596715000311'},
   {'Name': 'receivable_curasset_ci',
    'Type': 'double',
    'Comment': '应收帐款 (c80) / cuasset'},
   {'Name': 'std_receivable_curasset_ci',
    'Type': 'double',
    'Comment': 'standaridzed values (x - x mean) / std)'},
   {'Name': 'cash_over_curasset_ci',
    'Type': 'double',
    'Comment': '1 - (其中：短期投资 (c79) - 应收帐款 (c80) - 存货 (c81) - 其中：产成品 (c82)) /current asset'},
   {'Name': 'std_cash_over_curasset_ci',
    'Type': 'double',
    'Comment': 'standaridzed values (x - x mean) / std)'},
   {'Name': 'cash_over_totasset_ci',
    'Type': 'double',
    'Comment': '1 - (cuasset- 其中：短期投资 (c79) - 应收帐款 (c80) - 存货 (c81) - 其中：产成品 (c82)) /toasset'},
   {'Name': 'std_cash_over_totasset_ci',
    'Type': 'double',
    'Comment': 'standaridzed values (x - x mean) / std)'},
   {'Name': 'working_capital_ci',
    'Type': 'double',
    'Comment': 'cuasset- 流动负债合计 (c95)'},
   {'Name': 'std_working_capital_ci',
    'Type': 'double',
    'Comment': 'standaridzed values (x - x mean) / std)'},
   {'Name': 'working_capital_requirement_ci',
    'Type': 'double',
    'Comment': '存货 (c81) + 应收帐款 (c80) - 应付帐款  (c96)'},
   {'Name': 'std_working_capital_requirement_ci',
    'Type': 'double',
    'Comment': 'standaridzed values (x - x mean) / std)'},
   {'Name': 'current_ratio_ci',
    'Type': 'double',
    'Comment': 'cuasset/流动负债合计 (c95)'},
   {'Name': 'std_current_ratio_ci',
    'Type': 'double',
    'Comment': 'standaridzed values (x - x mean) / std)'},
   {'Name': 'quick_ratio_ci',
    'Type': 'double',
    'Comment': '(cuasset-存货 (c81) ) / 流动负债合计 (c95)'},
   {'Name': 'std_quick_ratio_ci',
    'Type': 'double',
    'Comment': 'standaridzed values (x - x mean) / std)'},
   {'Name': 'cash_ratio_ci',
    'Type': 'double',
    'Comment': '1 - (cuasset -  其中：短期投资 (c79) - 应收帐款 (c80) - 存货 (c81)/ 流动负债合计 (c95)'},
   {'Name': 'std_cash_ratio_ci',
    'Type': 'double',
    'Comment': 'standaridzed values (x - x mean) / std)'},
   {'Name': 'liabilities_assets_ci',
    'Type': 'double',
    'Comment': '1- (流动负债合计 (c95) + 长期负债合计 (c97)) / toasset'},
   {'Name': 'std_liabilities_assets_ci',
    'Type': 'double',
    'Comment': 'standaridzed values (x - x mean) / std)'},
   {'Name': 'reverse_liabilities_assets_ci',
    'Type': 'double',
    'Comment': '1 - liabilities_assets_ci'},
   {'Name': 'reverse_std_liabilities_assets_ci',
    'Type': 'double',
    'Comment': '1-standaridzed values (x - x mean) / std)'},
   {'Name': 'sales_assets_andersen_ci',
    'Type': 'double',
    'Comment': '全年营业收入合计 (c64) /(toasset)'},
   {'Name': 'std_sales_assets_andersen_ci',
    'Type': 'double',
    'Comment': 'standaridzed values (x - x mean) / std)'},
   {'Name': 'return_on_asset_ci',
    'Type': 'double',
    'Comment': 'sales - (主营业务成本 (c108) + 营业费用 (c113) + 管理费用 (c114) + 财产保险费 (c116) + 劳动、失业保险费 (c118)+ 财务费用 (c124) + 本年应付工资总额 (wage)) /toasset'},
   {'Name': 'std_return_on_asset_ci',
    'Type': 'double',
    'Comment': 'standaridzed values (x - x mean) / std)'},
   {'Name': 'sales_assets_ci',
    'Type': 'double',
    'Comment': '全年营业收入合计 (c64) /(\\Delta toasset/2)'},
   {'Name': 'std_sales_assets_ci',
    'Type': 'double',
    'Comment': 'standaridzed values (x - x mean) / std)'},
   {'Name': 'account_paybable_to_asset_ci',
    'Type': 'double',
    'Comment': '(\\Delta 应付帐款  (c96))/ (\\Delta (toasset))'},
   {'Name': 'std_account_paybable_to_asset_ci',
    'Type': 'double',
    'Comment': 'standaridzed values (x - x mean) / std)'},
   {'Name': 'asset_tangibility_ci',
    'Type': 'double',
    'Comment': 'Total fixed assets - Intangible assets'},
   {'Name': 'std_asset_tangibility_ci',
    'Type': 'double',
    'Comment': 'standaridzed values (x - x mean) / std)'},
   {'Name': 'rd_intensity_ci',
    'Type': 'double',
    'Comment': 'rdfee/全年营业收入合计 (c64)'},
   {'Name': 'std_rd_intensity_ci',
    'Type': 'double',
    'Comment': 'standaridzed values (x - x mean) / std)'},
   {'Name': 'inventory_to_sales_ci',
    'Type': 'double',
    'Comment': '存货 (c81) / sales'},
   {'Name': 'std_inventory_to_sales_ci',
    'Type': 'double',
    'Comment': 'standaridzed values (x - x mean) / std)'},
   {'Name': 'lower_location',
    'Type': 'string',
    'Comment': 'Location city. one of Coastal, Central, Northwest, Northeast, Southwest'},
   {'Name': 'larger_location',
    'Type': 'string',
    'Comment': 'Location city. one of Eastern, Central, Western'},
   {'Name': 'coastal',
    'Type': 'string',
    'Comment': 'City is bordered by sea or not'},
   {'Name': 'dominated_output_soe_c',
    'Type': 'map<double,boolean>',
    'Comment': 'map with information on SOE dominated city knowing percentile .5, .75, .9, .95 of output'},
   {'Name': 'dominated_employment_soe_c',
    'Type': 'map<double,boolean>',
    'Comment': 'map with information on SOE dominated city knowing percentile .5, .75, .9, .95 of employment'},
   {'Name': 'dominated_sales_soe_c',
    'Type': 'map<double,boolean>',
    'Comment': 'map with information on SOE dominated city knowing percentile .5, .75, .9, .95 of sales'},
   {'Name': 'dominated_capital_soe_c',
    'Type': 'map<double,boolean>',
    'Comment': 'map with information on SOE dominated city knowing percentile .5, .75, .9, .95 of capital'},
   {'Name': 'dominated_output_for_c',
    'Type': 'map<double,boolean>',
    'Comment': 'map with information on foreign dominated city knowing percentile .5, .75, .9, .95 of output'},
   {'Name': 'dominated_employment_for_c',
    'Type': 'map<double,boolean>',
    'Comment': 'map with information on foreign dominated city knowing percentile .5, .75, .9, .95 of employment'},
   {'Name': 'dominated_sales_for_c',
    'Type': 'map<double,boolean>',
    'Comment': 'map with information on foreign dominated city knowing percentile .5, .75, .9, .95 of sales'},
   {'Name': 'dominated_capital_for_c',
    'Type': 'map<double,boolean>',
    'Comment': 'map with information on foreign dominated city knowing percentile .5, .75, .9, .95 of capital'},
   {'Name': 'med_dominated_output_i',
    'Type': 'varchar(5)',
    'Comment': 'Output industry above national median'},
   {'Name': 'med_dominated_capital_i',
    'Type': 'varchar(5)',
    'Comment': 'Capital industry above national median'},
   {'Name': 'med_dominated_sales_i',
    'Type': 'varchar(5)',
    'Comment': 'Sales industry above national median'},
   {'Name': 'med_dominated_employ_i',
    'Type': 'varchar(5)',
    'Comment': 'Employment industry above national median'},
   {'Name': 'dominated_output_i',
    'Type': 'map<double,boolean>',
    'Comment': 'map with information dominated industry knowing percentile .5, .75, .9, .95 of output'},
   {'Name': 'dominated_employment_i',
    'Type': 'map<double,boolean>',
    'Comment': 'map with information on dominated industry knowing percentile .5, .75, .9, .95 of employment'},
   {'Name': 'dominated_capital_i',
    'Type': 'map<double,boolean>',
    'Comment': 'map with information on dominated industry knowing percentile .5, .75, .9, .95 of capital'},
   {'Name': 'dominated_sales_i',
    'Type': 'map<double,boolean>',
    'Comment': 'map with information on SOE dominated industry knowing percentile .5, .75, .9, .95 of sales'},
   {'Name': 'dominated_output_soe_i',
    'Type': 'map<double,boolean>',
    'Comment': 'map with information on SOE dominated industry knowing percentile .5, .75, .9, .95 of output'},
   {'Name': 'dominated_employment_soe_i',
    'Type': 'map<double,boolean>',
    'Comment': 'map with information on SOE dominated industry knowing percentile .5, .75, .9, .95 of employment'},
   {'Name': 'dominated_sales_soe_i',
    'Type': 'map<double,boolean>',
    'Comment': 'map with information on SOE dominated industry knowing percentile .5, .75, .9, .95 of sales'},
   {'Name': 'dominated_capital_soe_i',
    'Type': 'map<double,boolean>',
    'Comment': 'map with information on SOE dominated industry knowing percentile .5, .75, .9, .95 of capital'},
   {'Name': 'dominated_output_for_i',
    'Type': 'map<double,boolean>',
    'Comment': 'map with information on foreign dominated industry knowing percentile .5, .75, .9, .95 of output'},
   {'Name': 'dominated_employment_for_i',
    'Type': 'map<double,boolean>',
    'Comment': 'map with information on foreign dominated industry knowing percentile .5, .75, .9, .95 of employment'},
   {'Name': 'dominated_sales_for_i',
    'Type': 'map<double,boolean>',
    'Comment': 'map with information on foreign dominated industry knowing percentile .5, .75, .9, .95 of sales'},
   {'Name': 'dominated_capital_for_i',
    'Type': 'map<double,boolean>',
    'Comment': 'map with information on foreign dominated industry knowing percentile .5, .75, .9, .95 of capital'},
   {'Name': 'fe_c_i',
    'Type': 'bigint',
    'Comment': 'City industry fixed effect'},
   {'Name': 'fe_t_i',
    'Type': 'bigint',
    'Comment': 'year industry fixed effect'},
   {'Name': 'fe_c_t',
    'Type': 'bigint',
    'Comment': 'city industry fixed effect'}],
  'Location': 's3://datalake-datascience/DATA/ENVIRONMENT/CHINA/FYP/FINANCIAL_CONTRAINT/PAPER_FYP_FINANCE_POL/BASELINE/CITY/tables/b1a2ab58-f0b6-4f6f-89aa-f0f6b557a946',
  'InputFormat': 'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat',
  'OutputFormat': 'org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat',
  'Compressed': False,
  'NumberOfBuckets': 0,
  'SerdeInfo': {'Name': 'fin_dep_pollution_baseline_city',
   'SerializationLibrary': 'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe',
   'Parameters': {}},
  'BucketColumns': [],
  'SortColumns': [],
  'Parameters': {},
  'StoredAsSubDirectories': False},
 'PartitionKeys': [],
 'ViewOriginalText': '',
 'ViewExpandedText': '',
 'TableType': 'EXTERNAL_TABLE',
 'Parameters': {'EXTERNAL': 'TRUE', 'has_encrypted_data': 'false'},
 'CreatedBy': 'arn:aws:iam::468786073381:user/financial_dep_SO2',
 'IsRegisteredWithLakeFormation': False,
 'CatalogId': '468786073381'}

In [39]:
from datetime import date
today = date.today().strftime('%Y%M%d')

In [40]:
table_top = parameters["ANALYSIS"]["COUNT_MISSING"]["top"]
table_middle = ""
table_bottom = parameters["ANALYSIS"]["COUNT_MISSING"]["bottom"].format(
    DatabaseName, table_name
)

for key, value in enumerate(schema["StorageDescriptor"]["Columns"]):
    if key == len(schema["StorageDescriptor"]["Columns"]) - 1:

        table_middle += "{} ".format(
            parameters["ANALYSIS"]["COUNT_MISSING"]["middle"].format(value["Name"])
        )
    else:
        table_middle += "{} ,".format(
            parameters["ANALYSIS"]["COUNT_MISSING"]["middle"].format(value["Name"])
        )
query = table_top + table_middle + table_bottom
output = s3.run_query(
    query=query,
    database=DatabaseName,
    s3_output="SQL_OUTPUT_ATHENA",
    filename="count_missing",  ## Add filename to print dataframe
    destination_key=None,  ### Add destination key if need to copy output
)
display(
    output.T.rename(columns={0: "total_missing"})
    .assign(total_missing_pct=lambda x: x["total_missing"] / x.iloc[0, 0])
    .sort_values(by=["total_missing"], ascending=False)
    .style.format("{0:,.2%}", subset=["total_missing_pct"])
    .bar(subset="total_missing_pct", color=["#d65f5f"])
)

# Update Github Data catalog

The data catalog is available in Glue. Although, we might want to get a quick access to the tables in Github. In this part, we are generating a `README.md` in the folder `00_data_catalogue`. All tables used in the project will be added to the catalog. We use the ETL parameter file and the schema in Glue to create the README. 

Bear in mind the code will erase the previous README.

In [41]:
README = """
# Data Catalogue

{}

    """

top_readme = """

## Table of Content

    """

template = """

## Table {0}

- Database: {1}
- S3uri: `{2}`
- Partitition: {3}

{4}

    """
github_link = os.path.join("https://github.com/", parameters['GLOBAL']['GITHUB']['owner'],
                           parameters['GLOBAL']['GITHUB']['repo_name'], "tree/master/00_data_catalogue#table-")
for key, value in parameters['TABLES'].items():
    if key == 'CREATION':
        param = 'ALL_SCHEMA'
    else:
        param = 'STEPS'
        
    for schema in parameters['TABLES'][key][param]:
        description = schema['description']
        DatabaseName = schema['metadata']['DatabaseName']
        target_S3URI = schema['metadata']['target_S3URI']
        partition = schema['partition_keys']
        
        if param =='ALL_SCHEMA':
            table_name_git = '{}{}'.format(
                schema['metadata']['TablePrefix'],
                os.path.basename(schema['metadata']['target_S3URI']).lower()
            )
        else:
            try:
                table_name_git = schema['metadata']['TableName']
            except:
                table_name_git = '{}{}'.format(
                schema['metadata']['TablePrefix'],
                os.path.basename(schema['metadata']['target_S3URI']).lower()
            )
        
        tb = pd.json_normalize(schema['schema']).to_markdown()
        toc = "{}{}".format(github_link, table_name_git)
        top_readme += '\n- [{0}]({1})'.format(table_name_git, toc)

        README += template.format(table_name_git,
                                  DatabaseName,
                                  target_S3URI,
                                  partition,
                                  tb
                                  )
README = README.format(top_readme)
with open(os.path.join(str(Path(path).parent.parent), '00_data_catalogue/README.md'), "w") as outfile:
    outfile.write(README)

# Analytics

In this part, we are providing basic summary statistic. Since we have created the tables, we can parse the schema in Glue and use our json file to automatically generates the analysis.

The cells below execute the job in the key `ANALYSIS`. You need to change the `primary_key` and `secondary_key`

For a full analysis of the table, please use the following Lambda function. Be patient, it can takes between 5 to 30 minutes. Times varies according to the number of columns in your dataset.

Use the function as follow:

- `output_prefix`:  s3://datalake-datascience/ANALYTICS/OUTPUT/TABLE_NAME/
- `region`: region where the table is stored
- `bucket`: Name of the bucket
- `DatabaseName`: Name of the database
- `table_name`: Name of the table
- `group`: variables name to group to count the duplicates
- `primary_key`: Variable name to perform the grouping -> Only one variable for now
- `secondary_key`: Variable name to perform the secondary grouping -> Only one variable for now
- `proba`: Chi-square analysis probabilitity
- `y_var`: Continuous target variables

Check the job processing in Sagemaker: https://eu-west-3.console.aws.amazon.com/sagemaker/home?region=eu-west-3#/processing-jobs

The notebook is available: https://s3.console.aws.amazon.com/s3/buckets/datalake-datascience?region=eu-west-3&prefix=ANALYTICS/OUTPUT/&showversions=false

Please, download the notebook on your local machine, and convert it to HTML:

```
cd "/Users/thomas/Downloads/Notebook"
aws s3 cp s3://datalake-datascience/ANALYTICS/OUTPUT/asif_unzip_data_csv/Template_analysis_from_lambda-2020-11-22-08-12-20.ipynb .

## convert HTML no code
jupyter nbconvert --no-input --to html Template_analysis_from_lambda-2020-11-21-14-30-45.ipynb
jupyter nbconvert --to html Template_analysis_from_lambda-2020-11-22-08-12-20.ipynb
```

Then upload the HTML to: https://s3.console.aws.amazon.com/s3/buckets/datalake-datascience?region=eu-west-3&prefix=ANALYTICS/HTML_OUTPUT/

Add a new folder with the table name in upper case

In [ ]:
import boto3

key, secret_ = con.load_credential()
client_lambda = boto3.client(
    'lambda',
    aws_access_key_id=key,
    aws_secret_access_key=secret_,
    region_name = region)

In [ ]:
primary_key = 'year'
secondary_key = 'period'
y_var = 'tso2'

In [ ]:
payload = {
    "input_path": "s3://datalake-datascience/ANALYTICS/TEMPLATE_NOTEBOOKS/template_analysis_from_lambda.ipynb",
    "output_prefix": "s3://datalake-datascience/ANALYTICS/OUTPUT/{}/".format(table_name.upper()),
    "parameters": {
        "region": "{}".format(region),
        "bucket": "{}".format(bucket),
        "DatabaseName": "{}".format(DatabaseName),
        "table_name": "{}".format(table_name),
        "group": "{}".format(','.join(partition_keys)),
        "keys": "{},{}".format(primary_key,secondary_key),
        "y_var": "{}".format(y_var),
        "threshold":0
    },
}
payload

In [ ]:
response = client_lambda.invoke(
    FunctionName='RunNotebook',
    InvocationType='RequestResponse',
    LogType='Tail',
    Payload=json.dumps(payload),
)
response

# Generation report

In [42]:
import os, time, shutil, urllib, ipykernel, json
from pathlib import Path
from notebook import notebookapp

In [43]:
def create_report(extension = "html", keep_code = False, notebookname = None):
    """
    Create a report from the current notebook and save it in the 
    Report folder (Parent-> child directory)
    
    1. Exctract the current notbook name
    2. Convert the Notebook 
    3. Move the newly created report
    
    Args:
    extension: string. Can be "html", "pdf", "md"
    
    
    """
    
    ### Get notebook name
    connection_file = os.path.basename(ipykernel.get_connection_file())
    kernel_id = connection_file.split('-', 1)[0].split('.')[0]

    for srv in notebookapp.list_running_servers():
        try:
            if srv['token']=='' and not srv['password']:  
                req = urllib.request.urlopen(srv['url']+'api/sessions')
            else:
                req = urllib.request.urlopen(srv['url']+ \
                                             'api/sessions?token=' + \
                                             srv['token'])
            sessions = json.load(req)
            notebookname = sessions[0]['name']
        except:
            notebookname = notebookname  
    
    sep = '.'
    path = os.getcwd()
    #parent_path = str(Path(path).parent)
    
    ### Path report
    #path_report = "{}/Reports".format(parent_path)
    #path_report = "{}/Reports".format(path)
    
    ### Path destination
    name_no_extension = notebookname.split(sep, 1)[0]
    source_to_move = name_no_extension +'.{}'.format(extension)
    dest = os.path.join(path,'Reports', source_to_move)
    
    ### Generate notebook
    if keep_code:
        os.system('jupyter nbconvert --to {} {}'.format(
    extension,notebookname))
    else:
        os.system('jupyter nbconvert --no-input --to {} {}'.format(
    extension,notebookname))
    
    ### Move notebook to report folder
    #time.sleep(5)
    shutil.move(source_to_move, dest)
    print("Report Available at this adress:\n {}".format(dest))

In [ ]:
create_report(extension = "html", keep_code = True, notebookname = "04_fin_dep_pol_baseline_city.ipynb")